<html>
<head>
    <link rel="stylesheet" type="text/css" href="myStyle.css">
</head>
<body>
    <h1>List Tasks Page</h1>
    <p><a href="/">Home</a>
    <a href="/newtask">Add new Task</a></p>
    <table>
    	<tr>
			<td>Task Name</td>
    		<td>Due Date</td>
    		<td>Description</td>			
    	</tr>
    	<% for(var i=0;i<taskDB.length;i++){ %>
    		<tr>
    			<td>
    				<%= taskDB[i].tName %>
    			</td>
    			<td>
    				<%= taskDB[i].tDue %>
    			</td>
    			<td>
    				<%= taskDB[i].tDesc %>
    			</td>
    		</tr>
    	<% }%>
    </table>
</body>
</html>